.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.navbar .navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}
.scrlPage {
  background-image: url(https://image.shutterstock.com/z/stock-photo-multi-generation-family-eating-dinner-in-garden-close-up-555281770.jpg);
  height: 100vh;
  background-color: black;
  position: relative;
}

.container-fluid {
  padding: 0 !important;
}

.innerScrlPage {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 10vh;
}
